<!DOCTYPE html>
@model Sigs.AutorizacionesOnline.Models.LoginModel

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="container">
        <h3> Autorizaciones de servicios de salud </h3>
    </div>
    <div class="container">

        <div class="span4" style="text-align:center">
            <h1>ARS IA</h1>
            <img src="~/Images/logo.jpg" style="vertical-align:middle" />
            <h5>"La salud del pueblo"</h5>
        </div>
        <div class="span4 well pull-rigth">
            @using (Html.BeginForm("IniciarSesion", "Seguridad", FormMethod.Post))
            {
                <form class="form-signin">
                    <h2 class="form-signin-heading ">Credenciales</h2>

                    <input type="text" class="input-block-level" name="UserName" placeholder="Usuario o Email">

                    <input type="password" class="input-block-level" name="Password" placeholder="Contraseña">

                    <button class="btn btn-large btn-primary" type="submit">Iniciar Sesión</button>
                </form>
            }
        </div>

    </div>
</body>
</html>
