@{
    ViewBag.Title = "AutorizacionesDelDia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="ConsultaCtrl">
</div>

@section Scripts {
    <script src="../js/Consulta.js"></script>
}