@{
    ViewBag.Title = "AutorizacionesDelDia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="ConsultaCtrl">

    <div class="well">
        <fieldset>
            <legend>Filtros de busqueda</legend>
            <div class="row">
                <div class="span2" style="text-align: right">
                    <label>Número:</label>
                </div>
                <div class="span2">
                    <input data-ng-model="AutorizacionId" type="text" class="span2" />
                </div>
            </div>
            <div class="row">
                <div class="span2" style="text-align: right">
                    <label>Carné:</label>
                </div>
                <div class="span2">
                    <input data-ng-model="Carnet" type="text" class="span2" />
                </div>
            </div>
            <div class="row">
                <div class="span2" style="text-align: right">
                    <label>Fecha Autorizacion:</label>
                </div>
                <div class="span2">
                    <input data-ng-model="FechaAutorizacionDesde" datepicker type="text" class="span2" />
                </div>
                <div class="span1">Hasta </div>
                <div class="span2">
                    <input data-ng-model="FechaAutorizacionHasta" datepicker type="text" class="span2" />
                </div>
            </div>

            <div class="row">
                <div class="span2" style="text-align: right">
                    <label>Fecha Servicio:</label>
                </div>
                <div class="span2">
                    <input data-ng-model="FachaServicioDesde" datepicker type="text" class="span2" />
                </div>
                <div class="span1">Hasta </div>
                <div class="span2">
                    <input data-ng-model="FechaServicioHasta" datepicker type="text" class="span2" />
                </div>
            </div>
            <div class="pull-right">
                <div class="row">

                    <div class="span2">
                        <input type="button" class="btn" value="Limpiar" ng-click="Limpiar(AutorizacionId, Carnet, FechaAutorizacionDesde, FechaAutorizacionHasta, FachaServicioDesde, FechaServicioHasta)" />
                    </div>

                    <div class="span2">
                        <input type="button" class="btn btn-primary" value="Buscar" data-ng-click="Buscar(AutorizacionId, Carnet, FechaAutorizacionDesde, FechaAutorizacionHasta, FachaServicioDesde, FechaServicioHasta)" />
                    </div>

                </div>
            </div>
        </fieldset>

    </div>
    <div data-ng-visible="Autorizaciones.length > 0" class="well">
        <fieldset>
            <legend>Resultados de consulta</legend>
            <table class="table table-striped">
                <thead>
                    <tr style="font-weight:500;font-size:12px">
                        <th>Número</th>
                        <th>Carné</th>
                        <th>Autorizado en</th>
                        <th>Servicio en</th>
                        <th>Cantidad</th>
                        <th>Tipo</th>
                        <th>Monto Solicitado</th>
                        <th>Monto Aprobado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in Autorizaciones" title="{{ a.NombreCompleto }}">
                        <td>{{ a.Numero }}</td>
                        <td>{{ a.Carne }}</td>
                        <td>{{ a.FechaAutorizacion }}</td>
                        <td>{{ a.FechaServicio }}</td>
                        <td>{{ a.Cantidad | number }}</td>
                        <td>{{ a.TipoAutorizacion }}</td>
                        <td>{{ a.MontoSolicitado | currency}}</td>
                        <td>{{ a.MontoAprobado | currency }}</td>
                        <td ng-show="a.Disponible">
                            <button class="btn btn-success" title="Imprimir" ng-click="Imprimir(a.Numero)"><i class="icon-print icon-white"></i></button>
                            <button class="btn btn-danger" title="Anular" ng-click="Anular(a.Numero, AutorizacionId, Carnet, FechaAutorizacionDesde, FechaAutorizacionHasta, FachaServicioDesde, FechaServicioHasta)"><i class="icon-remove icon-white"></i></button>
                        </td>
                        <td ng-show="!a.Disponible" style="vertical-align: middle; align-content: center">
                            <label class="label label-important">Anulada </label>
                        </td>
                    </tr>
                </tbody>
                <tfoot style="font-weight: bold">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ TotalAprobado(Autorizaciones) | currency }}</td>
                </tfoot>
            </table>
        </fieldset>
    </div>
</div>

@section Scripts {
    <script src="../js/Consulta.js"></script>
}